    div{
        margin: auto;
        text-align: center;
  width: 30%;
  border: 2px solid #7e8694;
  padding: 10px;
  margin-bottom: 10px;
    }

    .blank{
        border-color: white;
    }


    a{
        padding:10px;
    }

    .hover:hover{
        border-color: #5b6370;
    }

    div>span{
        cursor: pointer;
        color:blue;
        text-decoration:underline;
    }   

    textarea{
        width: 100%;
        color:grey;
        border-color:white;
    }

    #popup{
        position: fixed;
        top: 60px; left: 40px;
    }



   #hover,#hoverlength,#report,#report{
    color:black;
    text-decoration: none;
   }

   .percent{
    color:blue;
   }

   .buttons{
    width:100px;
   }